<div class="row">

  <div class="span9 offset3">
    <h1>{{ page.title }}</h1>
  </div>

  <div class="span3">

    <div id="tutorial-side">

      <div id="tutorial-toc">
        <h4 id="contents">Contents</h4>
        <ul>
          <li>
             <a href="/docs/phonecat-tutorial/">Phonecat Tutorial: Home</a>
          </li>
          <li>
             <a href="/docs/phonecat-tutorial/step-00/">0: Bootstrapping</a>
          </li>
          <li>
             <a href="/docs/phonecat-tutorial/step-01/">1: Static Template</a>
          </li>
          <li>
             <a href="/docs/phonecat-tutorial/step-02/">2: Dynamic Templates</a>
          </li>
        </ul>
      </div>

      <div id="whats-the-point">
        <h4 id="page-highlights">What's the point?</h4>

        {{ whats_the_point | markdownify }}
      </div>
      
    </div>
    <div>&nbsp;</div>

  </div>

  <article class="span9 tutorial-content">

    {{ content | markdownify }}

  </article>

</div>
